/* Estilo personalizado para la barra de navegación */
.navbar {
    background-color: #4db43f !important;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Color de fondo verde */
}

.nav-link {
    color: #ffffff;
    justify-content: center;
    margin-left: 20px;
}

/* Centrar los enlaces en la barra de navegación */

.bi-bag {
    fill: #ffffff;
    margin-right: 30px;
}

.logo {
    width: 12%;
}
