/* Estilo personalizado para la barra de navegación */
.navbar {
    background-color: #4db43f !important;
    /* Color de fondo verde */
}

.nav-link {
    color: #ffffff;
    justify-content: center;
}

/* Centrar los enlaces en la barra de navegación */
.navbar-nav {
    margin-right: 450px; /* Esto debería centrar horizontalmente los enlaces */
    justify-content: center;

}

.bi-bag {
    fill: #ffffff;
    margin-right: 30px;
}

.logo {
    width: 10%;
}
